
.card-title {
    font-family: monospace;
    font-weight:bold;
    color:rgb(0, 79, 198);
}


.card {
    width: 11rem;
    margin: 2rem 1rem;
    height: 15rem;
    border: 2px solid rgba(61, 145, 229, 0.702);;
}

.card-body {
    text-align: center;
}


/* button css */
.button-link {
    margin-top: 20%;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(28, 124, 220, 0.702);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-link:hover {
    background-color: rgba(61, 145, 229, 0.702);;
}

/*alignment*/
.CompanyListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img-top{
    aspect-ratio: 3;
    object-fit: contain;
}

.CompanyName{
    display: flex;
    margin: 20% 0;
    height: 20%;
    justify-content: center;
}
.smallFont{
    font-size: 0.85rem;
}
.largeFont{
    font-size: x-large;
}

/* .CardDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */