
/* card css */
.logo {
    width: 69%;
}

.card-title {
    padding-bottom: 1rem;
    font-family: monospace;
    font-weight:bold;
    color:rgb(0, 79, 198);
}

.card {
    width: 11rem;
    margin: 2rem;
    height: 15rem;
    border: 2px solid rgba(61, 145, 229, 0.702);;
}

.card-body {
    text-align: center;
}


/* button css */
.button-link {
    margin-top: 40%;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(28, 124, 220, 0.702);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-link:hover {
    background-color: rgba(61, 145, 229, 0.702);;
}

/*alignment*/
.CompanyListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

