/* card css */
/* .logo {
    width: 69%;
} */

/* .card-title {
    padding-bottom: 1rem;
} */

.card {
    width: 11rem;
    margin: 2rem 1rem;
    height: 15rem;
    border: 2px solid rgb(5, 144, 190);
}

.card-body {
    text-align: center;
}


/* button css */
.button-link {
    margin-top: 20%;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0056b3;
}

/*alignment*/
.CompanyListing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img-top{
    aspect-ratio: 3;
    object-fit: contain;
}

.CompanyName{
    display: flex;
    margin: 20% 0;
    height: 20%;
    justify-content: center;
}
.smallFont{
    font-size: 0.85rem;
}
.largeFont{
    font-size: x-large;
}

/* .CardDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */