/*  */
.filter {
    background: linear-gradient(135deg, rgb(179, 208, 253) 0%, rgb(164, 202, 248) 100%);
    border-radius: 1000px;
    padding: 10px;
    /* position: fixed; */
    display: inline-block;
    place-content: right;
}

.FilterMapDiv{
    overflow-y: auto;
}

.filter-container {
    display: flex;
    flex-direction: row;
    /* align-items: stretch;  */
}



.FilterMapDiv {
    overflow-y: auto; 
    flex-grow: 1; /* Allow the container to grow and fill remaining space */
    /* max-height: calc(100vh - 100px); */
}


