/*  */
/* .filter {
    
    position: fixed;
    display: inline-block;
    place-content: right;
} */


/* .filter-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
} */



.FilterMapDiv {
    overflow-y: auto; 
    /* flex-grow: 1; */
    /* max-height: calc(100vh - 100px); */
}


