.navbar{
    justify-content: center;
    width: 100%;
    background-color: rgba(63, 153, 244, 0.702);
    padding-bottom: 1rem;
    height: 10%;
    position: relative;
    z-index: 10;
}
.navbar-brand{
    /*we'll change once we get logo*/
    margin-right: 3rem;
}
li{
    margin-right: 3rem;
    font-family:monospace;
    font-style:oblique;
    font-weight: bold;
    font-size: 1.2rem;
}
